<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>PB－日报</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIcons</key>
	<dict/>
	<key>CFBundleIcons~ipad</key>
	<dict/>
	<key>CFBundleIdentifier</key>
	<string>com.peacebird.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>PB－日报</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>PBRB</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>wx489983fd6835c0e8</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>2.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MG公司背景</key>
	<string>#E51D9B</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>guideImage</key>
	<integer>3</integer>
	<key>乐町背景</key>
	<string>#F08DBA</string>
	<key>女装背景</key>
	<string>#E5006E</string>
	<key>电商背景</key>
	<string>#D71515</string>
	<key>男装背景</key>
	<string>#17387A</string>
	<key>童装背景</key>
	<string>#F7D800</string>
	<key>赫奇背景</key>
	<string>#8BACD8</string>
</dict>
</plist>
