<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<dict>
		<key>name</key>
		<string>铁剑</string>
		<key>image</key>
		<string>sword_iron.gif</string>
		<key>minRange</key>
		<integer>1</integer>
		<key>maxRange</key>
		<integer>1</integer>
		<key>phyPower</key>
		<integer>5</integer>
		<key>magPower</key>
		<integer>-1</integer>
		<key>requiredLevel</key>
		<integer>1</integer>
		<key>weight</key>
		<integer>5</integer>
		<key>hit</key>
		<integer>10</integer>
		<key>critical</key>
		<integer>0</integer>
		<key>armorAgainst</key>
		<false/>
        <key>cavalryAgainst</key>
		<false/>
        <key>flyAgainst</key>
		<false/>
        <key>monsterAgainst</key>
		<false/>
	</dict>
    <key>2</key>
	<dict>
		<key>name</key>
		<string>铁枪</string>
		<key>image</key>
		<string>spear_iron.gif</string>
		<key>minRange</key>
		<integer>1</integer>
		<key>maxRange</key>
		<integer>1</integer>
		<key>phyPower</key>
		<integer>5</integer>
		<key>magPower</key>
		<integer>-1</integer>
		<key>requiredLevel</key>
		<integer>1</integer>
		<key>weight</key>
		<integer>5</integer>
		<key>hit</key>
		<integer>10</integer>
		<key>critical</key>
		<integer>0</integer>
		<key>armorAgainst</key>
		<false/>
        <key>cavalryAgainst</key>
		<false/>
        <key>flyAgainst</key>
		<false/>
        <key>monsterAgainst</key>
		<false/>
	</dict>
    <key>3</key>
	<dict>
		<key>name</key>
		<string>铁斧</string>
		<key>image</key>
		<string>axe_iron.gif</string>
		<key>minRange</key>
		<integer>1</integer>
		<key>maxRange</key>
		<integer>1</integer>
		<key>phyPower</key>
		<integer>5</integer>
		<key>magPower</key>
		<integer>-1</integer>
		<key>requiredLevel</key>
		<integer>1</integer>
		<key>weight</key>
		<integer>5</integer>
		<key>hit</key>
		<integer>10</integer>
		<key>critical</key>
		<integer>0</integer>
		<key>armorAgainst</key>
		<false/>
        <key>cavalryAgainst</key>
		<false/>
        <key>flyAgainst</key>
		<false/>
        <key>monsterAgainst</key>
		<false/>
	</dict>
    <key>4</key>
	<dict>
		<key>name</key>
		<string>铁弓</string>
		<key>image</key>
		<string>bow_iron.gif</string>
		<key>minRange</key>
		<integer>2</integer>
		<key>maxRange</key>
		<integer>2</integer>
		<key>phyPower</key>
		<integer>5</integer>
		<key>magPower</key>
		<integer>-1</integer>
		<key>requiredLevel</key>
		<integer>1</integer>
		<key>weight</key>
		<integer>5</integer>
		<key>hit</key>
		<integer>10</integer>
		<key>critical</key>
		<integer>0</integer>
		<key>armorAgainst</key>
		<false/>
        <key>cavalryAgainst</key>
		<false/>
        <key>flyAgainst</key>
		<true/>
        <key>monsterAgainst</key>
		<false/>
	</dict>
</dict>
</plist>