<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-2.5.xsd">

	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:META-INF/conf.properties
				</value>
			</list>
		</property>
		<property name="fileEncoding" value="utf-8" />
	</bean>

	<bean id="springProperty" class="com.clican.appletv.common.SpringProperty">
		<property name="systemServerUrl" value="${system.server.url}"></property>
		<property name="tudouSessionid" value="${tudou.sessionid}"></property>
		<property name="tudouRecommendApi" value="${tudou.recommend.api}"></property>
		<property name="tudouChannelApi" value="${tudou.channel.api}"></property>
		<property name="tudouAlbumChannelApi" value="${tudou.album.channel.api}"></property>
		<property name="tudouAlbumVideosApi" value="${tudou.album.videos.api}"></property>
		<property name="tudouKeywordSearchApi" value="${tudou.keyword.search.api}"></property>
	</bean>
	
	<bean id="tudouClient" class="com.clican.appletv.core.service.tudou.TudouClientImpl" autowire="byName">
	</bean>

</beans>