<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-2.5.xsd">

	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>classpath:conf.properties
				</value>
				<value>classpath:env.properties
				</value>
			</list>
		</property>
		<property name="fileEncoding" value="utf-8" />
	</bean>

	<bean id="taobaoTopCategoryList" class="java.util.ArrayList">
		<constructor-arg>
			<list>
				<bean class="com.clican.appletv.core.service.taobao.model.TaobaoCategory">
				    <property name="id" value="-1"></property>
					<property name="title" value="服装服饰"></property>
					<property name="subTitle" value="女装 男装 运动服 女鞋 流行鞋 运动鞋"></property>
					<property name="picUrl" value="/image/taobao/category_1.png"></property>
					<property name="childrenCids" value="30,50011699,50011740,16,50006843,1625,50012029"></property>
				</bean>
				<bean class="com.clican.appletv.core.service.taobao.model.TaobaoCategory">
				    <property name="id" value="-2"></property>
					<property name="title" value="箱包配饰"></property>
					<property name="subTitle" value="包包 饰品 手表 围巾 皮带 珠宝 眼镜"></property>
					<property name="picUrl" value="/image/taobao/category_2.png"></property>
					<property name="childrenCids" value="50005700,50006842,50010404,50011397,28,50013864"></property>
				</bean>
				<bean class="com.clican.appletv.core.service.taobao.model.TaobaoCategory">
				    <property name="id" value="-3"></property>
					<property name="title" value="妈咪宝贝"></property>
					<property name="subTitle" value="童装 孕妇装 尿片 奶粉 玩具 推车"></property>
					<property name="picUrl" value="/image/taobao/category_3.png"></property>
					<property name="childrenCids" value="35,50014812,50022517,50008165,25"></property>
				</bean>
				<bean class="com.clican.appletv.core.service.taobao.model.TaobaoCategory">
				    <property name="id" value="-4"></property>
					<property name="title" value="家居美食"></property>
					<property name="subTitle" value="零食 特产 保健品 居家 建材 家具 布艺"></property>
					<property name="picUrl" value="/image/taobao/category_4.png"></property>
					<property name="childrenCids" value="21,50026316,50023804,50026800,50050359,50008075,50020808,50020857,50008164,50020611,27,50020332,50020485,50020579,50016349,50016348,50008163,50020275,50002766,50016422,2813,50023575,50023717,50023878,50025618,50025705"></property>
				</bean>
				<bean class="com.clican.appletv.core.service.taobao.model.TaobaoCategory">
				    <property name="id" value="-5"></property>
					<property name="title" value="数码家电"></property>
					<property name="subTitle" value="手机 相机 笔记本 MP3 数码配件 家电"></property>
					<property name="picUrl" value="/image/taobao/category_5.png"></property>
					<property name="childrenCids" value="50023904,1512,14,1201,1101,50019780,50018222,11,50018264,50008090,50012164,50022703,50011972,50012100,50012082"></property>
				</bean>
				<bean class="com.clican.appletv.core.service.taobao.model.TaobaoCategory">
				    <property name="id" value="-6"></property>
					<property name="title" value="美容护发"></property>
					<property name="subTitle" value="护肤 彩妆 香水 洗护 护发 假发"></property>
					<property name="picUrl" value="/image/taobao/category_6.png"></property>
					<property name="childrenCids" value="50010788,1801,50023282,50002768"></property>
				</bean>
				<bean class="com.clican.appletv.core.service.taobao.model.TaobaoCategory">
				    <property name="id" value="-7"></property>
					<property name="title" value="户外文化"></property>
					<property name="subTitle" value="运动 瑜伽 汽车 登山 乐器 电子词典 办公用品"></property>
					<property name="picUrl" value="/image/taobao/category_7.png"></property>
					<property name="childrenCids" value="26,50074001,50025707,50007218,50018004,50011949,50010728,50013886,33,34,50017300,29,50024971"></property>
				</bean>
				<bean class="com.clican.appletv.core.service.taobao.model.TaobaoCategory">
				    <property name="id" value="-8"></property>
					<property name="title" value="玩乐虚拟"></property>
					<property name="subTitle" value="玩具 折扣券 电玩 鲜花 酒店 点卡 Q币"></property>
					<property name="picUrl" value="/image/taobao/category_8.png"></property>
					<property name="childrenCids" value="50026555,50158001,50026523,20,40,50011665,50008907,99,23,50007216,50004958,50018252,50014442,50014811,50016891,50023724,50017652,50019379,50024186,50024449,50024451,50024612,50025004,50025110,50025111,50025968,50230002"></property>
				</bean>
			</list>
		</constructor-arg>
	</bean>

	<bean id="springProperty" class="com.clican.appletv.common.SpringProperty">
		<property name="systemVersion" value="${system.version}"></property>
		<property name="systemClientVersion" value="${system.client.version}"></property>
		<property name="systemServerUrl" value="${system.server.url}"></property>
		<property name="systemProxyPlay" value="${system.proxy.play}"></property>
		<property name="systemHttpconnectionTimeout" value="${system.httpconnection.timeout}"></property>
		<property name="systemProxyEnable" value="${system.proxy.enable}"></property>
		<property name="systemProxyHost" value="${system.proxy.host}"></property>
		<property name="systemProxyPort" value="${system.proxy.port}"></property>
		<property name="systemTempPath" value="${system.temp.path}"></property>
		<property name="tudouSessionid" value="${tudou.sessionid}"></property>
		<property name="tudouRecommendApi" value="${tudou.recommend.api}"></property>
		<property name="tudouChannelApi" value="${tudou.channel.api}"></property>
		<property name="tudouAlbumChannelApi" value="${tudou.album.channel.api}"></property>
		<property name="tudouAlbumVideosApi" value="${tudou.album.videos.api}"></property>
		<property name="tudouKeywordSearchApi" value="${tudou.keyword.search.api}"></property>
		<property name="tudouSearchApi" value="${tudou.search.api}"></property>
		<property name="tudouCodePattern" value="${tudou.code.pattern}"></property>
		<property name="tudouItemidTransferApi" value="${tudou.itemid.transfer.api}"></property>

		<property name="qqChannelApi" value="${qq.channel.api}"></property>
		<property name="qqVideoApi" value="${qq.video.api}"></property>
		<property name="qqVideoPlayApi" value="${qq.video.play.api}"></property>
		<property name="qqKeywordSearchApi" value="${qq.keyword.search.api}"></property>
		<property name="qqSearchVideosApi" value="${qq.search.videos.api}"></property>
		<property name="qqSearchAlbumsApi" value="${qq.search.albums.api}"></property>
		<property name="qqIdPattern" value="${qq.id.pattern}"></property>

		<property name="youkuVideoApi" value="${youku.video.api}"></property>
		<property name="youkuVideoPlayApi" value="${youku.video.play.api}"></property>
		<property name="youkuShowidPattern" value="${youku.showid.pattern}"></property>

		<property name="sohuURLPattern" value="${sohu.url.pattern}"></property>
		<property name="sohuIdPattern" value="${sohu.id.pattern}"></property>
		<property name="sohuVideoApi" value="${sohu.video.api}"></property>

		<property name="fivesixCodePattern" value="${fivesix.code.pattern}"></property>
		<property name="fivesixVideoApi" value="${fivesix.video.api}"></property>
		<property name="fivesixVideoHtmlApi" value="${fivesix.video.html.api}"></property>

		<property name="sinaMusicIdPattern" value="${sina.music.id.pattern}"></property>
		<property name="sinaMusicApi" value="${sina.music.api}"></property>

		<property name="xiamiMusicApi" value="${xiami.music.api}"></property>
		<property name="xiamiMusicIdPattern" value="${xiami.music.id.pattern}"></property>

		<property name="baibianChannelApi" value="${baibian.channel.api}"></property>
		<property name="baibianLoginApi" value="${baibian.login.api}"></property>
		
		<property name="applePodcastUrlPattern" value="${apple.podcast.url.pattern}"></property>

		<property name="weiboAppKey" value="${weibo.app.key}"></property>
		<property name="weiboAppSercret" value="${weibo.app.sercret}"></property>
		<property name="weiboLoginURL" value="${weibo.login.url}"></property>
		<property name="weiboRedirectURL" value="${weibo.redirect.url}"></property>
		<property name="weiboBaseURL" value="${weibo.base.url}"></property>
		<property name="weiboAccessTokenURL" value="${weibo.access.token.url}"></property>
		<property name="weiboAuthorizeURL" value="${weibo.authorize.url}"></property>
		<property name="weiboRmURL" value="${weibo.rm.url}"></property>
		<property name="weiboTokenFile" value="${weibo.token.file}"></property>
		<property name="weiboShortURLPattern" value="${weibo.short.url.pattern}"></property>

		<property name="taobaoAppKey" value="${taobao.app.key}"></property>
		<property name="taobaoAppSercret" value="${taobao.app.sercret}"></property>
		<property name="taobaoAuthorizeUrl" value="${taobao.authorize.url}"></property>
		<property name="taobaoRedirectUrl" value="${taobao.redirect.url}"></property>
		<property name="taobaoTokenFile" value="${taobao.token.file}"></property>
		<property name="taobaoLoginUrl" value="${taobao.login.url}"></property>
		<property name="taobaoAuthorizeBaseUrl" value="${taobao.authorize.base.url}"></property>
		<property name="taobaoTopCategoryUrl" value="${taobao.top.category.url}"></property>
		<property name="taobaoCategoryJsonFile" value="${taobao.category.json.file}"></property>
		<property name="taobaoLoveTagApi" value="${taobao.love.tag.api}"></property>
		<property name="taobaoLoveApi" value="${taobao.love.api}"></property>
		
		<property name="userConfigJsonFile" value="${user.config.json.file}"></property>
		<property name="lblImageMapFile" value="${lbl.image.map.file}"></property>
		<property name="apnsTokenFile" value="${apns.token.file}"></property>
	</bean>

	<bean id="tudouClient" class="com.clican.appletv.core.service.tudou.TudouClientImpl"
		autowire="byName">
	</bean>

	<bean id="qqClient" class="com.clican.appletv.core.service.qq.QQClientImpl"
		autowire="byName">
	</bean>

	<bean id="youkuClient" class="com.clican.appletv.core.service.youku.YoukuClientImpl"
		autowire="byName">
	</bean>

	<bean id="sohuClient" class="com.clican.appletv.core.service.sohu.SohuClientImpl"
		autowire="byName">
	</bean>

	<bean id="fivesixClient"
		class="com.clican.appletv.core.service.fivesix.FivesixClientImpl"
		autowire="byName">
	</bean>

	<bean id="sinaClient" class="com.clican.appletv.core.service.sina.SinaClientImpl"
		autowire="byName">
	</bean>

	<bean id="xiamiClient" class="com.clican.appletv.core.service.xiami.XiamiClientImpl"
		autowire="byName">
	</bean>

	<bean id="baibianClient" class="com.clican.appletv.core.service.baibian.BaibianClientImpl"
		autowire="byName">
	</bean>

	<bean id="weiboClient" class="com.clican.appletv.core.service.weibo.WeiboClientImpl"
		autowire="byName" init-method="init" destroy-method="destroy">
	</bean>

	<bean id="taobaoClient" class="com.clican.appletv.core.service.taobao.TaobaoClientImpl"
		autowire="byName" init-method="init">
	</bean>

	<bean id="taobaoRestClient" class="com.taobao.api.AutoRetryTaobaoClient"
		autowire="byName">
		<constructor-arg>
			<value>${taobao.rest.base.url}</value>
		</constructor-arg>
		<constructor-arg>
			<value>${taobao.app.key}</value>
		</constructor-arg>
		<constructor-arg>
			<value>${taobao.app.sercret}</value>
		</constructor-arg>
	</bean>
	
	<bean id="configService" class="com.clican.appletv.core.service.config.ConfigServiceImpl"
		autowire="byName" init-method="init" destroy-method="destroy">
	</bean>
	
	<bean id="localServerService" class="com.clican.appletv.core.service.localserver.LocalServerServiceImpl"
		autowire="byName">
	</bean>
	
	<bean id="proxyClient" class="com.clican.appletv.core.service.proxy.ProxyClientImpl"
		autowire="byName">
	</bean>
	
	<bean id="lblClient" class="com.clican.appletv.core.service.lbl.LblClientImpl"
		autowire="byName" init-method="init" destroy-method="destroy">
	</bean>
	
	<bean id="subTitleClient" class="com.clican.appletv.core.service.subtitle.SubTitleClientImpl"
		autowire="byName">
	</bean>
	
	<bean id="apnsService" class="com.clican.appletv.core.service.apns.ApnsServiceImpl"
		autowire="byName" init-method="init" destroy-method="destroy">
	</bean>
</beans>