@charset "utf-8";

html, body {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 12px;
    color: #333;
}

/* 研报、模拟组合基本信息查看页面样式   */
.report_title {
    background-color: #E0EFFE;
}

/*报告标题*/
.detail_title {
    background-color: #E0EFFE;
}

.detail_do {
    background-color: #E0EFFE;
    border-right: 1px solid #8EAAE9;
}

.detail_subtitle {
    background-color: #E0EFFE;
    white-space: nowrap;
    border-right: 1px solid #8EAAE9;
    border-bottom: 1px solid #8EAAE9;
}

.report_do {
    background-color: #E0EFFE;
    border-right: 1px solid #8EAAE9;
}

.report_subtitle {
    background-color: #E0EFFE;
    white-space: nowrap;
    border-right: 1px solid #8EAAE9;
    border-bottom: 1px solid #8EAAE9;
}

.title {
    background-color: #E0EFFE;
    font-weight: bold;
    font-size: 12px;
    white-space: nowrap;
    border-right: 1px solid #8EAAE9;
    border-bottom: 1px solid #8EAAE9;
    width: 15%;
}

.text1 {
    font-size: 12px;
    vertical-align: top;
    text-align: left;
    border-right: 1px solid #8EAAE9;
    border-bottom: 1px solid #8EAAE9;
}

.table_border {
    border: 1px solid #C6E2FE;
    border-top-width: 2px;
    border-collapse: collapse;
}

.table_border td {
    padding: 3px;
}

.table_border2 {
    border: 1px solid #C6E2FE;
    border-top: none;
    border-collapse: collapse;
}

.center {
    text-align: center;
}

/* Table中表示Label的td的样式 */
.t_label {
    background-color: #E0EFFE;
    white-space: nowrap;
    font-weight: bold;
    border-right: 1px solid #C6E2FE;
    border-bottom: 1px solid #C6E2FE;
    /*height: 20px;*/
}

/* Table中表示Value的td的样式 */
.t_value {
    background-color: #FFF;
    border-right: 1px solid #C6E2FE;
    border-bottom: 1px solid #C6E2FE;
}

.sub_title {
    height: 20px;
    line-height: 20px;
    vertical-align: middle;
    font-weight: bold;
    padding: 0 0 0 5px;
    background-color:#E0EFFE;
}
