/**
 * The Clican-Pluto software suit is Copyright 2009, Clican Company
 * and individual contributors, and is licensed under the GNU LGPL.
 *
 * @author wezhang
 *
 */
package com.clican.pluto.orm.model.dynamic;

import javax.persistence.*;

import org.apache.commons.lang.builder.EqualsBuilder;
import org.apache.commons.lang.builder.HashCodeBuilder;
import org.apache.commons.lang.builder.ToStringBuilder;

import com.clican.pluto.orm.dynamic.inter.IDirectory;
import com.clican.pluto.orm.dynamic.inter.ISite;
import com.clican.pluto.orm.dynamic.inter.ITemplateDirectorySiteRelation;
import com.clican.pluto.orm.dynamic.inter.ITemplate;
import com.clican.pluto.orm.model.dynamic.Template;
import com.clican.pluto.orm.model.dynamic.Directory;
import com.clican.pluto.orm.model.dynamic.Site;

@Entity(name="TemplateDirectorySiteRelation")
@Table(name = "TEMPLATE_DIRECTORY_SITE_RELATION")
public class TemplateDirectorySiteRelation implements ITemplateDirectorySiteRelation {

	private static final long serialVersionUID = 1L;

	private Long id;

	private ITemplate template;

	private IDirectory directory;
	
	private ISite site;

	@Id
	@GeneratedValue(strategy = GenerationType.AUTO)
	@Column(name = "ID")
	public Long getId() {
		return id;
	}

	public void setId(Long id) {
		this.id = id;
	}

	@ManyToOne(fetch = FetchType.EAGER, targetEntity = Template.class)
	@JoinColumn(name = "TEMPLATE_ID", nullable = false)
	public ITemplate getTemplate() {
		return template;
	}

	public void setTemplate(ITemplate template) {
		this.template = template;
	}

	@ManyToOne(fetch = FetchType.EAGER, targetEntity = Directory.class)
	@JoinColumn(name = "DIRECTORY_ID", nullable = false)
	public IDirectory getDirectory() {
		return directory;
	}

	public void setDirectory(IDirectory directory) {
		this.directory = directory;
	}
	
	@ManyToOne(fetch = FetchType.EAGER, targetEntity = Site.class)
	@JoinColumn(name = "SITE_ID", nullable = false)
	public ISite getSite() {
		return site;
	}

	public void setSite(ISite site) {
		site = site;
	}

	/**
	 * @see java.lang.Object#equals(Object)
	 */
	public boolean equals(Object object) {
		if (!(object instanceof TemplateDirectorySiteRelation)) {
			return false;
		}
		TemplateDirectorySiteRelation rhs = (TemplateDirectorySiteRelation) object;
		return new EqualsBuilder().append(this.id, rhs.getId()).append(this.directory,rhs.getDirectory()).append(this.template, rhs.getTemplate()).isEquals();
	}

	/**
	 * @see java.lang.Object#toString()
	 */
	public String toString() {
		return new ToStringBuilder(this).append("id", this.id).append(
				"template", this.template).append("directory", this.directory).append("site", this.site)
				.toString();
	}

	/**
	 * @see java.lang.Object#hashCode()
	 */
	public int hashCode() {
		return new HashCodeBuilder(-1103200835, 221421551).append(this.id).append(this.directory).append(this.template)
				.toHashCode();
	}

}