<ui:composition
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:s="http://jboss.com/products/seam/taglib"
	xmlns:rich="http://richfaces.org/rich"
	xmlns:a4j="http://richfaces.org/a4j"
	xmlns:c="http://java.sun.com/jstl/core"
	xmlns:cms="http://www.clican.com/pluto/cms/taglib">
	
		
			<h:panelGrid id="dataModelPanelGrid" columns="2">
	#foreach( $pd in $propertyDescriptionList )
		<h:outputLabel value="${pd.name}" styleClass="name"/>
		#if ( $pd.control.name.equals('input text') )
			 <h:inputText value="#{dataModelAction.dataModel.${pd.firstCharLowerName}}"/>
		#end
		#if ( $pd.control.name.equals('input text area') )
			 <h:inputTextarea value="#{dataModelAction.dataModel.${pd.firstCharLowerName}}"/>
		#end
		#if ( $pd.control.name.equals('calendar') )
			 <rich:calendar value="#{dataModelAction.dataModel.${pd.firstCharLowerName}}" />
		#end
		#if ( $pd.control.name.equals('select one') )
			 <h:selectOneMenu value="#{dataModelAction.dataModel.${pd.firstCharLowerName}}">
			 	#if ( $pd.control.dynamic )
			 	<cms:dataModelConverter modelClass="${pd.type.className}" />
			 	<c:forEach var="selection" items="#{dataStructureAction.dataModelService.getDataModels('${pd.type.name}',null)}">
			 		<f:selectItem itemLabel="#{selection.name}" itemValue="#{selection}"/>
			 	</c:forEach>
			 	#end
			 	#if ( !$pd.control.dynamic )
			 		#foreach( $selection in $pd.control.providedSelection )
			 			<f:selectItem itemLabel="$selection" itemValue="$selection"/>
			 		#end
			 	#end
			 </h:selectOneMenu>
		#end
		#if ( $pd.control.name.equals('select mutil') )
			 <h:selectManyListbox value="#{dataModelAction.dataModel.${pd.firstCharLowerName}}">
			 	#if ( $pd.control.dynamic )
			 	<cms:dataModelConverter modelClass="${pd.type.className.replaceAll('\[\]','')}" />
			 	<c:forEach var="selection" items="#{dataStructureAction.dataModelService.getDataModels('${pd.type.name.replaceAll('\[\]','')}',null)}">
			 		<f:selectItem itemLabel="#{selection.name}" itemValue="#{selection}"/>
			 	</c:forEach>
			 	#end
			 	#if ( !$pd.control.dynamic )
			 		#foreach( $selection in $pd.control.providedSelection )
			 			<f:selectItem itemLabel="$selection" itemValue="$selection"/>
			 		#end
			 	#end
			 </h:selectManyListbox>
		#end
		#if ( $pd.control.name.equals('radio button') )
			 <h:selectOneRadio value="#{dataModelAction.dataModel.${pd.firstCharLowerName}}">
			 	#if ( $pd.control.dynamic )
			 	<cms:dataModelConverter modelClass="${pd.type.className}" />
			 	<c:forEach var="selection" items="#{dataStructureAction.dataModelService.getDataModels('${pd.type.name}',null)}">
			 		<f:selectItem itemLabel="#{selection.name}" itemValue="#{selection}"/>
			 	</c:forEach>
			 	#end
			 	#if ( !$pd.control.dynamic )
			 		#foreach( $selection in $pd.control.providedSelection )
			 			<f:selectItem itemLabel="$selection" itemValue="$selection"/>
			 		#end
			 	#end
			 </h:selectOneRadio>
		#end
		#if ( $pd.control.name.equals('mutil check box') )
			 <h:selectManyCheckbox value="#{dataModelAction.dataModel.${pd.firstCharLowerName}}">
			 	#if ( $pd.control.dynamic )
			 	<cms:dataModelConverter modelClass="${pd.type.className.replaceAll('[]','')}" />
			 	<c:forEach var="selection" items="#{dataStructureAction.dataModelService.getDataModels('${pd.type.name.replaceAll('[]','')}',null)}">
			 		<f:selectItem itemLabel="#{selection.name}" itemValue="#{selection}"/>
			 	</c:forEach>
			 	#end
			 	#if ( !$pd.control.dynamic )
			 		#foreach( $selection in $pd.control.providedSelection )
			 			<f:selectItem itemLabel="$selection" itemValue="$selection"/>
			 		#end
			 	#end
			 </h:selectManyCheckbox>
		#end
		#if ( $pd.control.name.equals('singal check box') )
			 <h:selectBooleanCheckbox value="#{dataModelAction.dataModel.${pd.firstCharLowerName}}" />
		#end
	#end
					<a4j:commandButton id="submitButton" value="Submit"
					action="#{dataModelAction.save()}" reRender="workspace" />
				<h:commandButton id="cancelButton" value="Cancel"
					action="#{dataModelAction.cancel()}" reRender="workspace"
					ajaxSingle="true" />
			</h:panelGrid>

</ui:composition>