<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.chinatelecom.xysq"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="20" />
	<uses-feature android:name="android.hardware.camera" />
	<uses-feature android:name="android.hardware.camera.autofocus" />
	
	<uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" >
    </uses-permission>
    <uses-permission android:name="android.permission.READ_LOGS" >
    </uses-permission>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:name="com.chinatelecom.xysq.application.XysqApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:exported="false"
            android:process=":remote" >
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2" >
                </action>
            </intent-filter>
        </service>

        <!-- meta-data需要写在application中 -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="0ApOGVuQqHM2UduvoIYBOiqs" />
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="54bcd918fd98c52be7000da0" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Channel1" />
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="f2e79664548224244350d28d6fa7f38b" >
        </meta-data>

        <activity
            android:name="com.chinatelecom.xysq.activity.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.chinatelecom.xysq.activity.IndexActivity" />
        <activity android:name="com.chinatelecom.xysq.activity.XyzsActivity" />
        <activity android:name="com.chinatelecom.xysq.activity.ProfileActivity" />
        <activity android:name="com.chinatelecom.xysq.activity.CommunitySelectActivity" />
        <activity android:name="com.chinatelecom.xysq.activity.CitySelectActivity" />
        <activity android:name="com.chinatelecom.xysq.activity.AnnouncementActivity" />
        <activity android:name="com.chinatelecom.xysq.activity.AnnouncementAndNoticeDetailActivity" />
        <activity android:name="com.chinatelecom.xysq.activity.NoticeActivity" />
        <activity android:name="com.chinatelecom.xysq.activity.LoginActivity" />
        <activity
            android:name="com.chinatelecom.xysq.activity.RegisterActivity"
            android:noHistory="true" />
        <activity android:name="com.chinatelecom.xysq.activity.WebViewActivity" />
        <activity android:name="com.chinatelecom.xysq.activity.BroadbandRemindActivity" />
         <!-- 用户反馈 -->
        <activity android:name="com.chinatelecom.xysq.activity.FeedbackActivity" />
        <activity
            android:name="com.umeng.update.UpdateDialogActivity" >
        </activity>
         <!-- 用户反馈 -->

 		<!-- 消息推送 -->
        <receiver
            android:name="com.umeng.message.NotificationProxyBroadcastReceiver"
            android:exported="false" >
        </receiver>
        <receiver android:name="com.umeng.message.RegistrationReceiver" >
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>

            <!-- 【可选】根据需要添加 -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.umeng.message.UmengBroadcastReceiver" >
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.RECEIVE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.chinatelecom.xysq.intent.action.COMMAND" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.RE_ELECTION_V2" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.umeng.message.UmengService"
            android:exported="true"
            android:process=":umengService_v1" >
            <intent-filter>
                <action android:name="com.chinatelecom.xysq.intent.action.START" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.chinatelecom.xysq.intent.action.COCKROACH" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.PING" />
            </intent-filter>
        </service>
        <service
            android:name="org.android.agoo.service.ElectionService"
            android:exported="true"
            android:process=":umengService_v1" >
            <intent-filter>
                <action android:name="org.agoo.android.intent.action.ELECTION_V2" />
            </intent-filter>
        </service>
        <service android:name="com.umeng.message.UmengIntentService" />
        <!-- V1.3.0添加的service，负责下载通知的资源 -->
        <service android:name="com.umeng.message.UmengDownloadResourceService" />
        <!-- 消息推送 -->
        
        <!-- 自动更新 -->
        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" >
        </service>
        
        
        <!-- 自动更新 -->
    </application>

</manifest>