<?xml version="1.0" encoding="UTF-8"?>
<atv>
<head>
<script src="<%=serverurl%>/javascript/load.js"/>
</head>
<body>
		<listScrollerSplit id="bbbb">
			<header>
				<simpleHeader horizontalAlignment="left">
					<title>搜索</title>
					<image src=""></image>
				</simpleHeader>
			</header>
			<menu>
				<sections>
					<menuSection>
						<items>
							<%for(var i=0;i<keywords.length;i++){%>
								<oneLineMenuItem id="albumItem_<%=i%>" onSelect="baidumusicClient.loadIndexPage('<%=keywords[i]%>',1,'search');">
									<label><%=keywords[i]%></label>
								</oneLineMenuItem>
							<%}%>
						</items>
					</menuSection>
				</sections>
			</menu>
		</listScrollerSplit>
	</body>
</atv>